.flash-box
.wrapper
  .chat-side
    .side-header
      %p.side-header__user-name
        = current_user.name
        %ul.user-menu
          %li.user-menu__edit-user
            = link_to new_group_path do
              = fa_icon 'pencil-square-o', class: 'icon'
          %li.user-menu__new-group
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: 'icon'
    
    .groups
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .group
            %p.group__group-name
              = group.name
            %p.group__latest-message
              まだメッセージがありません1

  .chat-main
    .main-header
      .current-group
        %h2.current-group__name
          グループ名
          %ul.member-list
            Member：
            %li.member-list__member
              test0001
            %li.member-list__member
              ユーザネーム
      = link_to "グループの編集URL" do
        .main-header__edit-btn
          Edit

    .messages

      .message
        .upper-info
          %p.upper-info__user
            ユーザネーム1
          %p.upper-info__date
            yyyy/mm/dd(xxx) hh:mm:ss
        %p.message__text
          test message1

      /冗長化ここからーーーーーーーーーーーーーーーーーーーーーーーーーー
      .message
        .upper-info
          %p.upper-info__user
            ユーザネーム2
          %p.upper-info__date
            yyyy/mm/dd(xxx) hh:mm:ss
        %p.message__text
          test message2
          
      .message
        .upper-info
          %p.upper-info__user
            ユーザネーム3
          %p.upper-info__date
            yyyy/mm/dd(xxx) hh:mm:ss
        %p.message__text
          test message3
      /冗長化ここまでーーーーーーーーーーーーーーーーーーーーーーーーーー

    .form
      %form{action: "formの送信先", accept:{charset: "UTF-8"}, method: "post", class: "new-message"}
        .input-box
          %input{placeholder: "type a message", class: "input-box__text", type: "text", name: "メッセージコンテンツ" }
            %label{class: "image-label", for: "message_image"}
              %i.fa.fa-image
              %input{class: "image-label__input", type: "file", name: "イメージコンテンツ", id: "message_image" }
        %input{type: "submit", name: "commit", value: "Send", class: "new-message__submit-btn"}